<div class="container">
    <h2>Create a short link</h2>
    <form [formGroup]="createLinkForm" (ngSubmit)="createLink()" autocomplete="off">
        <input formControlName="link" class="form-control my-2" placeholder="Enter a link you want to shorten">
        <select formControlName="expiryDate" class="form-select mb-2">
            <option value="12" [selected]="true">For 12 hours</option>
            <option value="24">For 24 hours</option>
            <option value="168">For 7 days</option>
            <option value="336">For 14 days</option>
            <option value="720">For 1 month</option>
            <option value="2160">For 3 months</option>
        </select>
        <button [disabled]="!createLinkForm.valid" type="submit" class="btn btn-success mb-3">Create link</button>
    </form>

    <h2 class="mt-4" *ngIf="pagination">Your earlier created links: {{pagination.totalItems}} links found</h2>

    <app-filters
        [linkParams]="linkParams" 
        (loadLinks)="loadPersonalLinks()" 
        (resetFilters)="resetFilters()" 
        [formControl]="$any(filterForm.controls['filterByExpiryDate'])"
    ></app-filters>
    
    <app-link-list [links]="links"></app-link-list>
    
    <div class="d-flex justify-content-center" *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"  
            [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;"
        >
        </pagination>
    </div>
</div>