<div class="container mt-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center fw-bold display-5">More than just shorter links</h1>
        <p class="text-center text-body-secondary text">Build your brand's recognition and get detailed insights<br> on how your links are performing</p>
        <button class="btn btn-lg btn-secondary" routerLink="/my" *ngIf="user">Get started</button>
        <div *ngIf="!user" class="d-flex gap-3">
            <button class="btn btn-lg btn-primary" routerLink="/login">Login</button>
            <button class="btn btn-lg btn-warning" routerLink="/register">Register</button>
        </div>
    </div>

    <div class="container d-flex flex-column align-items-center justify-content-center my-4">
        <h1 class="text-center fw-bold display-5">Advanced statistics</h1>
        <p class="text-center text-body-secondary">
            Track how your links are performing across the web with <br>our advanced 
            <a routerLink="/statistics">statistics dashboard</a>
        </p>
    </div>
</div>