<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h2 class="heading">Shortly</h2>
            </a>
            <ul class="nav navbar-nav d-flex flex-row gap-3">
                <li class="nav-item">
                    <a routerLink="/all" class="nav-link text-muted" routerLinkActive="active">All links</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/my" class="nav-link text-muted" routerLinkActive="active">My links</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/analytics" class="nav-link text-muted" routerLinkActive="active">Analytics</a>
                </li>
            </ul>
            <div class="text-end">
                <button class="btn btn-outline-light me-2">Login</button>
                <button class="btn btn-warning" routerLink="/register">Sign up</button>
            </div>
        </div>
    </div>
</header>