<div class="d-flex align-items-center justify-content-between my-3">
    <form (ngSubmit)="load()" autocomplete="off">
        <div class="d-flex align-items-center justify-content-between" *ngIf="linkParams">
            <div class="d-flex mx-2">
                <label class="col-form-label">Links that active for</label>
                <select [formControl]="control" class="form-select mb-2">
                    <option value="8640" [selected]="true">All</option>
                    <option value="1">For 1 hour</option>
                    <option value="24">For 24 hours</option>
                    <option value="168">For 7 days</option>
                    <option value="336">For 14 days</option>
                    <option value="720">For 1 month</option>
                    <option value="2160">For 3 months</option>
                    <option value="4320">For 6 months</option>
                </select>
            </div>
            <div class="d-flex">
                <button class="btn btn-primary ms-1" type="submit">Apply filters</button>
                <button (click)="reset()" class="btn btn-warning ms-1">Reset filters</button>
            </div>
        </div>
    </form>

    <div class="col" *ngIf="linkParams">
        <div class="btn-group float-end ms-3">
            <button
                class="btn btn-primary"
                name="orderBy"
                (click)="load()"
                [(ngModel)]="linkParams.orderBy"
                btnRadio="newest"
                type="button"
            >Newest links</button>
            <button 
                class="btn btn-primary" 
                name="orderBy" 
                (click)="load()"
                [(ngModel)]="linkParams.orderBy"
                btnRadio="oldest"
                type="button"
            >Oldest links</button>
            <button 
                class="btn btn-primary" 
                name="orderBy" 
                (click)="load()"
                [(ngModel)]="linkParams.orderBy"
                btnRadio="popular"
                type="button"
            >Most popular links</button>
        </div>
    </div>
</div>